@charset "UTF-8";
/* CSS Document */

/*	Resets
	------	*/

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figure,figcaption,hgroup,menu,header,footer,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0}article,aside,canvas,figure,figure img,figcaption,hgroup,footer,header,nav,section,audio,video{display:block}a img{border:0}figure{position:relative}figure img{width:100%}

* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
}
#main, #holder{
    min-height: 100%;
    position:relative;
}
body {
	background-color: #FFF;
    color: #666;
}
#body{
	width: 100%;
    padding-bottom: 60px;    /* height of footer */
	position: relative !important;
	z-index: 5 !important;
	}
	#identifier .wrapper {
		padding-bottom:20px;}
#clear {
	clear: both;}
	
p {
    margin: 0px;
}
.none { /* this class is used to hid the skip to content link at the beginning of the document for accessibility */
	display: none;
}
#breadcrumb {
color: #FF6600;
padding-top: 10px;
}


/*	Typography presets
	------------------	*/



.normal,
body,
#content h3 {
	
}

.small {
	font-size: 13px;
	line-height: 18px;
}

abbr,
acronym{
	border-bottom: 1px dotted;
	cursor: help;
	font-variant: small-caps;
}
address,
cite,
em,
i{
	font-style: italic;
}
/*a {
	-webkit-transition: color .3s linear;
	-o-transition: color .3s linear;
	-moz-transition: color .3s linear;
	text-decoration: none;
	outline: none;
}
a:active,
a:focus {
	text-decoration: underline;
}*/

/*	Default 8-column layout
	60 px columns, 24 px gutters, 60 px margins, 768 px total
	---------------------------------------------------------
	1     2      3      4      5      6      7      8     
	60px  144px  228px  312px  396px  480px  564px  648px	*/
	.wrapper, .container {
    margin: 0 auto;
    max-width: 772px;
    position: relative;
	
}

#if-logged-in {
	position: relative;
	width: 100%;
	height: 24px;
	line-height: 24px;
	background: #000;
	color: #aaa;
	font-size: 10px;
	z-index: 1000;
}
	#if-logged-in .container {
		padding-top: 0;
		padding-bottom: 0;
	}
	#if-logged-in p {
		margin: 0;
	}
	#if-logged-in a:link,
	#if-logged-in a:visited {
		color: #fff;
		text-decoration: none;
	}
	#if-logged-in a:hover {
		text-decoration: underline;
	}
	#if-logged-in a:active {
		text-decoration: underline;
		margin-bottom: -1px;
	}

#content {
    float: left;
    width: 350px;
}
body.single #content {
    float: left;
    width: 490px;
}

#header-image {
padding: 0;
overflow: hidden;
	}
#header-image.container {
max-width: 410px;
float: left;
	}


#content {
float: left;
margin: 0;
padding: 10px 0px 0px 0px;
overflow: hidden;
}	


.container {
width: 100%;
}
#sidebar {
float: right;
margin: 0;
padding: 0px;
overflow: hidden;
width: 26%;
}

#footer .wrapper {
width: 100%;}

::selection {
	background: #c6d8cd;
}
::-moz-selection {
	background: #c6d8cd;
}
img::selection {
	background: transparent;
}
img::-moz-selection {
	background: transparent;
}

#body .container {
    padding-bottom: 80px;
	overflow: hidden;
}

#content img.floatleft, #content img.floatright {
	max-width: 50%;
	height: auto;}

/*	13-column layout
	60 px columns, 24 px gutters, 72 px margins, 1212 px total (extra space for scrollbars)
	---------------------------------------------------------------------------------------
	1     2      3      4      5      6      7      8      9      10     11     12     13
	60px  144px  228px  312px  396px  480px  564px  648px  732px  816px  900px  984px  1068px	*/

@media only screen and (min-width: 990px) {
.wrapper, .container {
    margin: 0 auto;
    max-width: 992px;
    padding: 0;
    position: relative;
}
#body .container {
    padding-bottom: 60px;
	overflow: hidden;
}
#sidebar {
width: 230px; 
}

#content {
    float: left;
    width: 550px;
}
body.single #content {
    float: left;
    width: 750px;
}
	
}


/*	5-column layout
	60 px columns, 24 px gutters, 42 px margins, 480 px total
	---------------------------------------------------------
	1     2      3      4      5
	60px  144px  228px  312px  396px	*/

@media only screen and (min-width: 768px) and (max-width: 991px) {

#sidebar {
    float: right;
    margin: 0 10px 0 0;
    overflow: hidden;
    padding: 0;
    width: 26%;
}

#header-image.container {
    float: left;
    margin: 0 0 0 10px;
    max-width: 410px;
}

}

@media only screen and (min-width: 480px) and (max-width: 767px) {
	
.wrapper, .container {
 margin: 0 auto;
 max-width: 500px;
 padding: 0;
 position: relative;}
.container {
width: 100%;
overflow: hidden;
padding-bottom: 85px;}
.nav-search {
 display:none;}
#sidebar {
width: 100%;
float: right;}
#content{
width: 100%;
float: right;}
#logo img {
width: 390px;}
.nav-search {
top: 44px;
}
#content img.floatleft, #content img.floatright {
	max-width: 50%;
	height: auto;}
	
}


/*	3-column layout
	60 px columns, 24 px gutters, 46 px margins, 320 px total
	---------------------------------------------------------
	1     2      3
	60px  144px  228px	*/

@media only screen and (max-width: 479px) {
.wrapper, .container {
 margin: 0 auto;
 max-width: 270px;
 padding: 0;
 position: relative;}
.container {
width: 100%;
overflow: hidden;}
#body .container {
padding-bottom: 190px;}
.nav-search {
display:none;}
#logo {
position: relative;
height: 60px;
padding: 10px 0px 0px 0px;
margin-bottom: 20px;}
#logo img {
width: 90%;
height: auto;
margin-top: 10px;}

#content {
width: 270px;
padding: 0px;}
#content img.floatleft, #content img.floatright, #content1col img.floatleft, #content1col img.floatright, #content2col img.floatleft, #content2col img.floatright, #content3col img.floatleft, #content3col img.floatright {
max-width: 40%;
height: auto;}
#sidebar {
width: 100%;
float: left;
margin: 0;
overflow: hidden;
padding: 0;}
#sidebar .widget-area {
 margin-left: 0px;
 min-height: 0px;}

/*	Retina media query.
	Overrides styles for devices with a 
	device-pixel-ratio of 2+, such as iPhone 4.
-----------------------------------------------    */

@media 
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min-device-pixel-ratio: 2) {
	
	body {
	
	}
	
}